<div class="mission_failed_container"> 
    <div style="text-align: center; font-size: large; color: white; position: absolute;">You Lost</div>
    <div class="mission_failed">
        <div id="rocket"
             class="rocket_captured">
        </div>
    </div>
</div>

@code {


}
