/*------------------------------------------------*/
/* https://codepen.io/kvaibhav01/pen/LYPjaLy */
/*-----------------------------------------------*/

.mission_failed_container {
    background: #000;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    
}

.mission_failed, .mission_failed:before, .mission_failed:after {
    display: flex;
    border-radius: 50%;
    animation: anim 7s linear infinite;
}

@keyframes anim {
    0% {
        transform: rotate(0deg)
    }
    100% {
        transform: rotate(-360deg)
    }
}

.mission_failed {
    width: 50vh;
    height: 50vh;
    box-shadow: 1vh 0 3vh 2vh #f50,
    inset -2vh 0 3vh 4vh #f80,
    -1vh -1vh 35vh 0 #f60;
    filter: blur(1px);
}

.mission_failed:before, .mission_failed:after {
    content: '';
    background: #fff;
    position: relative;
    top: 6vh;
}

.mission_failed:before {
    width: 3vmin;
    height: 3vmin;
    left: 40vmin;
    box-shadow: #f4eb42 0 0 2vh 2vh,
    #f4eb42 2vh 4vh 2vh 0.3vh;
}

.rocket_captured {
    animation: fail_anim 3s linear infinite;
}

@keyframes fail_anim {
    0% {
        transform: scale(1.5) rotate(0deg);
    }
    100% {
        transform: scale(0.5) rotate(-360deg);
    }
}
