<div class="crawl_container">
    <div class="crawl">
        <h1>Congratulations</h1>
        <div>You have successfully</div>
        <div>discovered</div>
        <div>absolutely everying</div>
        <div>there is to discover!</div>
        <div>WHILE</div>
        <div>avoiding the dark forces.</div>
        <br />
        <div>***YOU WON ***</div>
        <br />
        <div id="rocket"
             style="left: 50%; width: 25rem; height: 25rem">
        </div>
    </div>
</div>

@code {

}