<div id="explore-area">
    <div id="rocket"
         style="top: @rocketTop; left: @rocketLeft; "
         tabindex="0"
         class="@Rocket.RocketDirection rockstar"></div>
    <Constellation  Stars="Stars" ></Constellation>
    <Litter  BlackHoles="BlackHoles"></Litter>

</div>

@code {

    [Parameter]
    public List<BlackHole> BlackHoles { get; set; } = null!;

    [Parameter]
    public List<Star> Stars { get; set; } = null!;

    [Parameter]
    public Rocket Rocket { get; set; } = null!;

    string rocketTop { get; set; } = String.Empty;
    string rocketLeft { get; set; } = String.Empty;

    protected override void OnParametersSet()
    {
        rocketTop = $"{Rocket.Top}px";
        rocketLeft = $"{Rocket.Left}px";
        base.OnParametersSet();
    }
}